<H1>Stats Général joueurs</H1>
<div class="container_index-number">
  <ul>
    <% @numbers.each do |number| %>
      <li><%= number.score %></li>
      <li><%= number.duration %></li>
    <% end %>
  </ul>
</div>
